@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Merriweather:wght@300&family=Outfit:wght@300&display=swap");

/* global style */

* {
	font-family: "Open Sans";
	color: hsl(220, 2%, 50%);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background-color: hsl(0, 0%, 92%);
}

.container {
	width: 500px;
	height: 1310px;
	margin: 0 auto;
}

/* first section  */

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 500px;
	height: 380px;
	border-radius: 5px;
	margin: 30px 0px 20px 0px;
	padding: 22px 22px 12px 22px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.267);
	background-color: white;
}

.intro img {
	width: 115px;
	height: 115px;
	border-radius: 50%;
	border: solid 3px hsl(0, 0%, 84%);
}

.intro h1 {
	font-weight: 900;
	color: hsl(0, 66%, 60%);
}

.intro h2 {
	font-size: 17px;
}

.intro p {
	font-size: 14px;
	text-align: justify;
	line-height: 23px;
}

.intro a:hover {
	transform: scale(1.1);
	background-position: -60px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn {
	font-size: 15px;
	text-align: center;
	padding: 10px 0px 0px 0px;
	color: white;
	width: 130px;
	height: 40px;
	border-radius: 5px;
	background-color: hsl(0, 66%, 60%);
}

/* second section  */

.links {
	width: 500px;
	height: 160px;
	margin: 30px 0px 15px 0px;
	padding: 60px 0 60px 0;
	border-radius: 5px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.267);
	background-color: white;
}

.fa-brands,
.fa-facebook-f,
.fa-linkedin-in,
.fa-twitter,
a {
	color: hsl(0, 0%, 80%);
}

li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.links ul li a:hover,
.fa-brands:hover {
	color: hsl(209, 2%, 58%);
}

ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

li {
	text-align: center;
}

/* third section */

.movies {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: justify;
	line-height: 23px;
	width: 500px;
	height: 665px;
	padding: 0px 34px 50px 34px;
	margin: 30px 0px 15px 0px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.267);
	border-radius: 5px;
	background-color: white;
}

.movies h2,
.movies h3 {
	padding-bottom: 20px;
	text-align: center;
	color: hsl(220, 2%, 50%);
	font-size: 18px;
	font-weight: 600;
}

.movies span {
	background: rgba(128, 128, 128, 0.295);
}

.movies img {
	width: 80px;
	height: 120px;
}

.movies p {
	padding-left: 25px;
	font-size: 14px;
	text-align: justify;
	line-height: 23px;
}
.first-movie,
.second-movie,
.third-movie {
	display: flex;
	flex-direction: row;
}

.movie-summary {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
}
